@page
@model IntugentWebApp.Pages.Admin_Group.AIAnalysisModel
@{
    ViewData["ActivePage"] = "AI Data Analysis";
}
@* Error Message *@
@if (TempData["ErrorOnServer"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Error: @TempData["ErrorOnServer"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
